<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contacto</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">   
    		<div class="col-md-6 col-md-offset-3">	         
			    <div class="panel panel-success">			    						    
			      <div class="panel-heading text-center">	
			      	<nav>
			      		<a href="login.html" title="Login">Login</a>	  
			      		<a href="inicio.html" title="Inicio">Inicio</a>			      					      	
			      		<a href="tecnologia.html" title="Tecnologia">Tecnología</a>			      					      	
			      		<a href="servicios.html" title="Servicios">Servicios</a>			      					      	
			      		<a href="contacto.html" title="Contacto">Contacto</a>
			      		<a href="multimedia.html" title="Multimedia">Multimedia</a>	      					      			      					  
			      		<a href="blog.html" title="Blog">Blog</a>	  
			      	</nav>				           					      	
			      </div>			     
			      <div class="panel-body">
			          <form>		          				         
			          	<section>
				          	<h1 class="text-center">Contáctenos.</h1>
				          	<br/>			          	
				          	<img src="../img/ubicacion.jpg" alt="Donde estamos?" width="600" height="150"><br/><br/>
				          	<p>Visítanos en nuestra sede en la carrera 25 A # 2-69</p>
				          	<p>Teléfonos: 8443355 – 8223456</p>
				          	<p>Línea de atención nacional 01-8000-1234-567</p>
				          	<p>Email: <a href="http://www.soonaik.com/" >aikautos@aik.com</a></p>	          				          			
			          	</section><br/>
			          	<section>

			          		<fieldset>
			          		<legend>Complete sus Datos Personales:</legend>
			          		
			          		<div class="form-group">
			          			<label for="txt_nombre">Nombres:</label>
    							<input type="text" class="form-control" id="txt_nombre" placeholder="Nombre" required>
  							</div>
  							<div class="form-group">
			          			<label for="txt_apellidos">Apellidos:</label>
    							<input type="text" class="form-control" id="txt_apelldos" placeholder="Apellido" required>
  							</div>

  							<div class="form-group">
    							<label for="cb_opciones">Genero:</label>
    							<select class="form-control" name="cb_opciones" id="cb_opciones">
    								<option>Seleccione su genero</option>
    								<option>Masculino</option>
    								<option>Femenino</option>
    							</select>
  							</div>

  							<label for="preg1"><strong>Intereses:</strong></label>
							<div>
								<input type="radio" name="interes" value="0"><label>Musica.</label><br/>
								<input type="radio" name="interes" value="1"><label>Videos</label><br/>
								<input type="radio" name="interes" value="2"><label>Autos</label><br/>
								<input type="radio" name="interes" value="3"><label>Revistas</label><br/>
							</div><br/>

							<div class="form-group">
    							<label for="txt_fecha">Fecha de Nacimiento:(Opcional)</label>
    							<input type="date" class="form-control" id="txt_fecha" placeholder="Fecha">
							</div>
							<div class="form-group">
									<label for="form-group">Telefono / Celular: (Opcional)</label>
									<input type="tel" class="form-control" id="txt_telefono_celular" placeholder="Digite número">
							</div>  							
  							<div class="form-group">
			          			<label for="txt_correo">Correo electrónico:</label>
    							<input type="email" class="form-control" id="txt_correo" placeholder="Correo electrónico">
    						</div>
    						<div class="form-group">
								<label for="form-group">Comentario:</label>
								<textarea class="form-control" id="txtarea_laboral" rows="5" cols="89" maxlength="255"></textarea>
							</div> 

							<div class="text-right">
								<button type="submit" class="btn btn-warning">Volver</button>
      							<button type="submit" class="btn btn-danger">Cancelar</button>
      							<button type="submit" class="btn btn-success">Registrar</button>
							</div>
			          		</fieldset>
			          		
			          	</section>
						<br/>
			          	<aside>
			          		Encuentra lo que buscas en: <a href="www.mercadolibre.com.co">www.mercadolibre.com.co</a>
			          	</aside>
			          </form>
			      </div>
			      <div class="panel-footer text-center">			       
				       <p>Adicional en el pie de cada página debe contener la siguiente información:</p>
				       <p>Autos AIK – Todos los derechos reservados – 2016</p>
				       <p><a href="http://moosaik.com/index.php/contacto/">contacto@aik.com</a></p>
				       <p>Popayán - Colombia</p>	       
			      </div>
			    </div>
   			</div>
  		</div>
  	</div> 
</body>
</html>
