<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head>
<body>	
	<div class="container-fluid">
		<div class="row">   
    		<div class="col-md-6 col-md-offset-3">	         
			    <div class="panel panel-success">			    						    
			      <div class="panel-heading text-center">	
			      	<nav>			      		
			      		<a href="login.html" title="Login">Login</a>	  
			      		<a href="inicio.html" title="Inicio">Inicio</a>			      					      	
			      		<a href="tecnologia.html" title="Tecnologia">Tecnología</a>			      					      	
			      		<a href="servicios.html" title="Servicios">Servicios</a>			      					      	
			      		<a href="contacto.html" title="Contacto">Contacto</a>
			      		<a href="multimedia.html" title="Multimedia">Multimedia</a>	      					      			      					  
			      		<a href="blog.html" title="Blog">Blog</a>	        					      			      					  
			      	</nav>				           					      	
			      </div>			     
			      <div class="panel-body">
			          <form>
							<section>
								<h1 class="text-center">Inicio.</h1>
				          		<br/><br/>

					          	<p align="justify">Nuestra empresa se dedica al diseño, creación, ensamblaje, producción, comercialización y venta de automóviles.</p>
					          	<p>Nos destacamos por tener modelos exclusivos, entre ellos:</p>

					          	<img src="../img/autos.jpg" alt="Autos" width="600" height="150">
					          	<ul>
					          		<strong>
					          		<li>El Aik 1</li>
							     	<li>El Aik 2</li>
							     	<li>Camioneta Aik Delta (Diésel)</li>
							     	<li>Furgón Aik MF</li>
							     	<li>Deportivo Aik 300</li>
					          		</strong>						    	
							 	</ul>
								<br/><br/>
							 	<p>Cada uno de ellos es único en el mercado, por sus características y estilo nos hemos posicionado como la mejor marca de automóviles en todo el país.</p>
							</section>			          		
			          </form>
			      </div>
			      <div class="panel-footer text-center">			       
				       <p>Adicional en el pie de cada página debe contener la siguiente información:</p>
				       <p>Autos AIK – Todos los derechos reservados – 2016</p>
				       <p><a href="http://moosaik.com/index.php/contacto/">contacto@aik.com</a></p>
				       <p>Popayán - Colombia</p>	       
			      </div>
			    </div>
   			</div>
  		</div>
  	</div> 
</body>
</html>

