<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head>
<body>	
	<div class="container-fluid">
		<div class="row">   
    		<div class="col-md-6 col-md-offset-3">	         
			    <div class="panel panel-success">			    						    
			      <div class="panel-heading text-center">	
			      	<nav>
			      		<a href="login.html" title="Login">Login</a>	  
			      		<a href="inicio.html" title="Inicio">Inicio</a>			      					      	
			      		<a href="tecnologia.html" title="Tecnologia">Tecnología</a>			      					      	
			      		<a href="servicios.html" title="Servicios">Servicios</a>			      					      	
			      		<a href="contacto.html" title="Contacto">Contacto</a>
			      		<a href="multimedia.html" title="Multimedia">Multimedia</a>	      					      			      					  
			      		<a href="blog.html" title="Blog">Blog</a>	  
			      	</nav>				           					      	
			      </div>			     
			      <div class="panel-body">
			          <form>
							<section>
								<h1 class="text-center">Login.</h1>
				          		
								<div class="form-group">
						              <label for="txt_correo">Usuario</label>
						              <input type="text" class="form-control" id="txt_usuario" placeholder="Usuario">
            					</div>
            					<div class="form-group">
						              <label for="txt_clave">Clave</label>
						              <input type="password" class="form-control" id="txt_clave" placeholder="Clave">
            					</div>
						        <div class="text-right">
						        	  <button type="button" class="btn btn-link ">Registrarse</button>
						         	  <button type="button" class="btn btn-success ">Ingresar</button>         
						       </div> 								
							</section>			          		
			          </form>
			      </div>
			      <div class="panel-footer text-center">			       
				       <p>Adicional en el pie de cada página debe contener la siguiente información:</p>
				       <p>Autos AIK – Todos los derechos reservados – 2016</p>
				       <p><a href="http://moosaik.com/index.php/contacto/">contacto@aik.com</a></p>
				       <p>Popayán - Colombia</p>	       
			      </div>
			    </div>
   			</div>
  		</div>
  	</div> 
</body>
</html>

