<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Servicios</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">   
    		<div class="col-md-6 col-md-offset-3">	         
			    <div class="panel panel-success">			    						    
			      <div class="panel-heading text-center">	
			      	<nav>
			      		<a href="login.html" title="Login">Login</a>	  
			      		<a href="inicio.html" title="Inicio">Inicio</a>			      					      	
			      		<a href="tecnologia.html" title="Tecnologia">Tecnología</a>			      					      	
			      		<a href="servicios.html" title="Servicios">Servicios</a>			      					      	
			      		<a href="contacto.html" title="Contacto">Contacto</a>
			      		<a href="multimedia.html" title="Multimedia">Multimedia</a>	      					      			      					  
			      		<a href="blog.html" title="Blog">Blog</a>	  
			      	</nav>				           					      	
			      </div>			     
			      <div class="panel-body">
			          <form>
			          	<section>
				          	<h1 class="text-center">Servicios.</h1>
				          	<br/>
				          	<p align="justify">Disfruta tu <strong>AIK</strong> incluso antes de su primer kilómetro. En este lugar encontrarás las respuestas a tus dudas tanto si eres un propietario satisfecho de un <strong>AIK</strong> como si buscas adquirir un vehículo. Nuestra misión es ayudarte antes y después de tu compra. </p><br/>

				          	<h2>Cuenta con nosotros incondicionalmente. </h2><br/>

				          	<p align="justify">Visita nuestros talleres autorizados en todo el territorio nacional y encontrarás todos los servicios de mantenimiento y reparación que tu vehículo necesita, realizados por personal altamente calificado, utilizando <a href="https://joacowebweb.wordpress.com/webd/">tecnología de punta y herramientas especializadas</a> para diagnosticar y reparar correctamente tu <strong>AIK.</strong></p>

				          	<p align="justify">Experimenta nuestro completo servicio al cliente <strong>AIK</strong>, que evoluciona continuamente para mantenerse a la altura de tus expectativas.</p>
			          	</section>
			          	<br/>
			          	<aside>
			          		Estudia Ingeniería de Sistemas <a href="www.fup.edu.co">www.fup.edu.co</a>
			          	</aside>			          	
			          </form>
			      </div>
			      <div class="panel-footer text-center">			       
				       <p>Adicional en el pie de cada página debe contener la siguiente información:</p>
				       <p>Autos AIK – Todos los derechos reservados – 2016</p>
				       <p><a href="http://moosaik.com/index.php/contacto/">contacto@aik.com</a></p>
				       <p>Popayán - Colombia</p>	       
			      </div>
			    </div>
   			</div>
  		</div>
  	</div> 
</body>
</html>